:root {
	--font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;

	--font-size: 16px;
	--line-height: 1.5;

	--border-radius: 12px;

	--padding: 10px;

	--bg-color: #000000;
	--bg-color-hover: #ffffff11;
	--text-color: #e0e0e0;
	--text-color-dim: #636363;
	--border-color: #ffffff22;
	--bookmark-color: #f8f9fa;

	--animation-curve: cubic-bezier(0.08, 0.84, 0.1, 0.97);
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
}

input {
	font-family: var(--font-family);
	font-size: var(--font-size);
	outline: none;
}

* {
	box-sizing: border-box;
}
